body {
    position: relative !important;
    background: white !important;
}

.logo-side {
    background: white !important;
    text-align: center;
}

#sidebar-brand {
    border-bottom: 1px solid #F3F3F3 !important;
}

#dot-spinner {
    display: none;
}

#dot-spinner2 {
    display: none;
}
/* HTML: <div class="loader"></div> */
.loader-dots {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 15px,-60px 15px,-60px 15px;
    transform: translateY(-15px);
    animation: l19 1s infinite linear;
  }
  @keyframes l19{ 
    16.67% {box-shadow:-60px 15px,-60px 15px,19px 15px}
    33.33% {box-shadow:-60px 15px,  0px 15px,19px 15px}
    40%,60%{box-shadow:-19px 15px,  0px 15px,19px 15px}
    66.67% {box-shadow:-19px 15px,  0px 15px,60px 15px}
    83.33% {box-shadow:-19px 15px, 60px 15px,60px 15px}
    100%   {box-shadow: 60px 15px, 60px 15px,60px 15px}
  }

.sidebar-nav li {
    padding-left: 30px;
}

.modal-backdrop {
    background: none;
}

.th-order {
    display: flex;
    align-items: center;
}

.th-order > img {
    width: 20px;
    height: fit-content;
    cursor: pointer;
}

.sidebar-nav li a {
    color: #acb8bf !important;
    font-size: 15px !important;
    padding: 0 !important;
}

.chosen-disabled {
    opacity: .9 !important;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

#sidebar {
    background: white !important;
}

.navbar-inverse .nav.navbar-nav-custom>li>a {
    color: #374249 !important;
}

.h-0 {
    height: 0px;
}

.h-auto {
    height: auto;
}

.display-none {
    display: none;
}

.display-content {
    display: revert;
}

.bg-ddd {
    background: #E3E3E3;
}

.search-form {
    display: flex !important;
    align-items: center;
}

.border-0 {
    border-bottom: 0;
}

.border-ddd {
    border-bottom: 1px solid #ddd;
}

.profile-header {
    display: flex;
    align-items: center;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: 6px;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.card-module-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100% !important;
}

.card-module-footer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-module-footer>span,
.icon-text {
    font-size: 22px !important;
    color: white;
    padding: 5px;
}

.card-module-text>span,
.icon-text {
    font-size: 25px !important;
    color: white;
    padding: 5px;
}


/* Estilos formularios E14 */

.m-0 {
    margin: 0 !important;
}

.ml-2 {
    margin-left: 4px !important;
}

.w-100 {
    width: 100%;
}

.forme14 {
    margin: 0 auto;
}

.error {
    color: #de815c;
}

.ml-4 {
    margin-left: 13px;
}

.content-avatar-candidate {
    width: auto; 
    width: 30px;
    height: 30px;
    position: relative;
}

.content-avatar-candidate-no-photo {
    min-width: 30px; 
    height: 30px;
    max-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-avatar-candidate-no-photo  i {
    font-size: 13px;
    cursor: pointer;
}

.content-avatar-candidate-no-photo  label {
    margin: 0;
}

.content-avatar-candidate label {
    margin: 0;
}

.content-avatar-candidate-no-photo:hover i {
    display: block;
}

.content-avatar-candidate i {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    cursor: pointer;
}

.content-avatar-candidate:hover i {
    display: block;
}

.btn-alert-success {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px 40px 15px 15px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 5px;
    position: relative;
}

.btn-alert-success > span {
    color: #155724;
}

.btn-alert-danger {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px 40px 15px 15px;
    background-color: #f8d7da;
    border-color: #f8d7da;
    border-radius: 5px;
    position: relative;
}

.btn-alert-danger > span {
    color: #721c24;
}

.center-row > form {
    float:left;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.center-row > a {
    float:left;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.forme14-info>.segment {
    width: 100%;
    margin: 0 auto;
    background: white;
    margin-bottom: 10px;
    margin-top: 10px;
    /*padding-left: 4px;
    padding-right: 4px;*/
    color: black;
    padding: 0px 10px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d7d7d7;
}

.linea {
    height: 1px;
    border: 1px solid #ddd;
    margin: 15px 0px 15px 0px;
}

.forme14-info>.segment>span {
    cursor: pointer;
    color: red;
    visibility: hidden;
}

.forme14-info>.segment .segment-info {
    display: flex;
    align-items: center;
    padding: 1px;
    width: 100%;
}

.forme14-info>.segment .segment-info input {
    height: 25px;
    border: none;
    background: white;
    text-align: initial;
}

.text-center {
    text-align: center !important;
}

.forme14-info>.segment:hover>span {
    visibility: visible;
}

.card-form {
    padding: 8px;
    padding-bottom: 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    margin: 0 auto;
    /*min-height: calc(100vh - 145px);*/
    height: fit-content;
    background: white;
    width: 100%;
    max-width: 430px;
    margin-bottom: 15px;
}

.forme14-info,
.forme14-votes {
    width: 100%;
    padding: 2px;
    padding-top: 0px;
    /*margin: 5px auto;*/
}

.forme14,
.forme14-info {
    /*border: 1px solid;*/
}

.forme14-votes-logo {
    background: #C7E8CA;
    display: flex;
    min-height: 30px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.forme14-votes-logo-upload {
    display: flex;
    justify-content: center;
}

.forme14-votes-logo input[type="file"] {
    display: none;
}

.forme14-votes-logo .image-logo-part {
    display: none;
}

.forme14-votes-logo:hover .image-logo-part {
    display: block;
}

.forme14-votes-logo>.logo-part {
    padding-left: 4px;
    padding-right: 4px;
}

.forme14-votes-cand {
    display: table;
    width: 100%;
    position: relative;
}

.forme14-votes-cand>table {
    width: 100%;
}

.forme14-votes-cand>table tr
td {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.forme14-votes-cand>table th
td {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.forme14-votes-cand>table tr td {
    background: #C7E8CA;
}

.delete-td {
    color: red;
    float: right;
    display: none;
    cursor: pointer;
    line-height: 24px;
}

.forme14-votes-cand>table tr:hover .delete-td {
    display: block;
    float: right;
}

.forme14-votes-logo:hover .delete-logo-part {
    display: block;
}

.delete-logo-part {
    display: none;
}

.padding-md {
    padding: 18px !important;
}


/* estilos del footer del formulario e14 donde aparece guardar*/

.forme14-save {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.forme14-save .label-save {
    border: solid;
    border-width: 1px;
    border-color: rgb(118, 118, 118) !important;
    border-image: initial;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    background: #007BFF;
    color: white;
}

.forme14-save .label-save:hover {
    background-color: #418fe3;
}

.forme14-save input[type="file"] {
    display: none;
}

.filter_by {
    display: flex;
}

.spinner,.spinner:after{
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 50%;
    z-index: 2
 }
.spinner {
    background-color: transparent;
    border-top: 10px solid rgb(66,139,202);
    border-right: 10px solid rgb(66,139,202);
    border-bottom: 10px solid rgb(66,139,202);
    border-left: 10px solid rgba(66,139,202,.2);
    transform: translateZ(0);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
 }

.container-spinner {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    overflow: hidden;
    display: none;
}

.show-sm {
    display: none;
}


@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}

table input[type="text"],
input[type="number"] {
    height: 25px;
    border: none;
    background: #C7E8CA;
    width: 94%;
    float: left;
}

@media (max-width: 1200px) {
    .card-module-text>span,
    .icon-text {
        font-size: 20px !important;
    }
    .card-module-footer>span,
    .icon-text {
        font-size: 16px !important;
    }
    .container-card {
        height: 160px !important;
    }
}

@media (max-width: 767px) {
    .card-module-text>span,
    .icon-text {
        font-size: 40px !important;
    }
    .card-module-footer span {
        font-size: 20px !important;
    }
    .container-card {
        width: 50% !important;
        height: 260px !important;
    }
    .image-back {
        border-radius: 50px !important;
    }
    .cont-form-voters {
        display: flex;
        flex-direction: column;
    }
    .input-cedula {
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-cont {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .filter_by {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .show-sm {
        display: block;
    }
}

.select-up .chosen-drop {  
    transform: translate(0px, calc(-100% - 33px));
}

@media (max-width: 560px) {
    .btn_find_create {
        margin-left: 0 !important;
    }
}

@media (max-width: 576px) {
    .card-module-text>span,
    .icon-text {
        font-size: 23px !important;
    }
    .card-module-footer span {
        font-size: 25px !important;
    }
    .profile-header .icon-profile,
    .text-profile {
        /*display: none;*/
    }
    .container-card {
        width: 100% !important;
        height: 280px !important;
    }

    .cont-form-voters-small{
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .forme14 {
        width: 100%;
    }
}